body
{
	background-color: #CCCCCC;
	color: #444444;
	font-family: Calibri, Helvetica, Arial, sans-serif;
	margin: 0em auto;
	max-width: 40em;
}


h1
{
	font-family: "Segoe UI", Helvetica, Arial, sans-serif;
	font-size: 3.25em;
	font-weight: lighter;
	margin-bottom: 0.75em;
	margin-top: 0.25em;
	text-align: center;
}


#board
{
	background-color: #FFFFFF;
	margin-bottom: 2em;
}


.boardRow
{
	width: 100%;
}


.boardPosition
{
	box-shadow: 0em 0em 0.25em #000000;
	float: left;
	font-family: Menlo, Consolas, "Courier New", Courier, monospace;
	font-size: 2em;
	height: 100%;
	text-align: center;
	width: 12.5%;
}


.boardPosition:hover
{
	background-color: #DDDDDD;
}


.boardPositionClicked
{
	background-color: #EEEEEE;
}


.boardBomb
{
	color: #FF0000;
}


.boardFlag
{
	color: #00FF00;
}


.clear
{
	clear: both;
}


#actionBar
{
	text-align: center;
}


button
{
	font-size: 1em;
	margin-left: 0.25em;
	margin-right: 0.25em;
	padding: 0.25em 1em;
	text-transform: uppercase;
}
